
@{
    ViewBag.Title = "Index";
}

<h2>Yönetim</h2>

<ul>
    <li>
        <a href="/Yonetim/Icerik">İçerik</a>
    </li>
    <li>
        <a href="/Yonetim/Kullanici">Kullanıcı</a>
    </li>
    <li>
        <a href="/Yonetim/KullaniciGrubu">Kullanıcı Grubu</a>
    </li>
    <li>
        <a href="/Yonetim/Tags">Tags</a>
    </li>
    <li>
        <a href="/Yonetim/Yorum">Yorum</a>
    </li>
</ul>

